.p-buckets {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 100%;
    text-align: center;
}

.p-buckets__content {
    display: table-cell;
    vertical-align: middle;
}

.p-buckets__logo {
    font-family: 'NTR', sans-serif;
    font-size: 36px;
    color: #002e4e;
    margin-bottom: 12px;
}

.p-buckets__item {
    display: inline-block;
    padding-right: 9px;

    &:first-child {
        margin-left: 9px;
    }
}

.p-buckets__link {

    &:hover {
        background-color: #c92e36;
        color: #ffffff;
    }
}
