.p-buckets .c-logo {
    margin-bottom: 12px;
}

.p-buckets__item {
    display: inline-block;
    padding-right: 9px;

    &:first-child {
        margin-left: 9px;
    }
}

.p-buckets__link {

    &:hover {
        background-color: #c92e36;
        color: #ffffff;
    }
}
